mat-sidenav-container{ margin: 20px; height: 100% }
snack-bar-container{background-color: #3f51b5 !important; color: white !important; font-size: large !important;}
.example-fill-remaining-space {flex: 1 1 auto;}