<!-- First toolbar with menu icon and app name -->
<mat-toolbar color='primary'>
  <button mat-icon-button aria-label="Menu icon" (click)="sidebar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button id='homeLink' [routerLink]="['home']">VirtualLabs</a>

  <span class="example-fill-remaining-space"></span>
  <span *ngIf="currentUser">Welcome back, {{currentUser.email}}</span>
  <button mat-button (click)="openLogin()" *ngIf="!currentUser" >Login</button>
  <button mat-button (click)="logout()" *ngIf="currentUser" >Logout</button>
</mat-toolbar>

<!-- Second toolbar with current selected course name -->
<mat-toolbar>
  Internet Applications
</mat-toolbar>

<!-- Application views area -->
<mat-sidenav-container>

  <!-- Left sidenav to choose current view course -->
  <mat-sidenav #sidebar mode="side" opened="true" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item [routerLink]="['teacher/course/internet-applications/students']" >Internet Applications</mat-list-item>
        <mat-list-item [routerLink]="['teacher/course/system-and-device-programming/students']" >System and Device programming</mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <!-- Current view content -->
  <mat-sidenav-content>
    <!-- Tabs for the current view (Students / Teams / VMs) -->
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <div class="container tab-content">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>