html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-fill-remaining-space {flex: 1 1 auto; }

.tab-content { padding: 20px; }

.header{ width: 100%; height: auto; position: sticky; top: 0; z-index: 9999; }

mat-sidenav-container{ height: 90%; margin: 20px }